[submodule "dev"]
	path = env/dev
	active = true
	branch = 4-demo
	url = https://github.com/mcabrito/bb-app-source.git

[submodule "prd"]
	path = env/prd
	active = true
	branch = 5-demo
	url = https://github.com/mcabrito/bb-app-source.git